@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    margin: 25px 15px 40px 15px;
    border-radius: 25px;
    background-color: #eee;
    box-shadow: #ddd;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family:'Times New Roman';
}

ul {
    border-top: 1.5px solid #777;
    border-bottom: 1.5px solid #777; 
}

li, a {
    color: #777;
    display: inline-block;
    text-align: center;
    font-family: arial;
    text-decoration: none;
    padding: .6em;

}

h2 {
    font-family: Roboto Slab;
    font-weight: 1000;
}

h5 {
    font-family: abril fatface;
    color: #dd3232
}

p {
    font-family: Source Sans Pro;
    
}

#picture1 {
    width: 100%;
}


  #navbar {
    position: sticky;
    top: 0;
    background-color: white;
} 

#main-body {
    padding: 0 15px 25px 15px;
    border-bottom:  1.5px solid gray;
}

.twopictures{
    font-family: Roboto Slab;
    text-align: left;
    padding: 0 25px 0 25px;
}

section {
    display: inline-block;
    width: 33%;
    /* padding: 0 25px 0 25px; */
    box-sizing: border-box;
    /* border: solid red; */

}

img {
    width: 300px;
    height: 200px;
}


h4 {
    font-size: 1.2em;
}

footer {
    color: #777;
    display: inline-block;
    text-align: center;
    font-family: arial;
    text-decoration: none;
    padding: auto;
    width: 100%;
}