@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

body {
    margin: 10px 10px 10px 10px;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    /* border: solid red; */
    font-family:'Times New Roman';
}

ul {
    border-top: 1.5px solid gray;
    border-bottom: 1.5px solid gray; 
}

li, a {
    color: gray;
    display: inline-block;
    text-align: center;
    font-family: arial;
    text-decoration: none;
    padding: .6em;
    
}

h2 {
    font-family: 'Courier New';
    font-weight: 1000;
}

h5 {
    font-family: arial;
    color: red;
}

p {
    font-family: Arial;
    
}

#pic1 {
    width: 100%;
}



#main-body {
    padding: 0 15px 25px 15px;
    border-bottom:  1.5px solid gray;
}

.more-articles {
 
 text-align: left;
 
}

img {
    width: 50%;
    /* display: inline-block; */
}

h4 {
    font-family: arial;
    font-size: 1.2em;
}
